html,body{
    margin-top: 10%;
    margin-left: 20%;
}
#text{
    padding:7px 12px;
    margin:5px;
    border:1px solid black;
    cursor:pointer
}
#btn{
    padding:7px 10px;
    background-color: blue;
    color: aliceblue;
    font-size:medium;
    cursor: pointer;

}